/* ReviewCard.css */

.review-card {
    border: 2px solid purple;
    border-radius: 15px;
    padding: 16px;
    margin-bottom: 16px;
    margin-left:20px;
    background-color: rgba(255, 255, 255, 0.6); 
    width:60%;
    
}

.user-info {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
}

.user-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%; /* Make it circular */
    margin-right: 12px;
    overflow: hidden; /* Ensure the image stays within the circle */
    background-image:url('../assets/images/user_avatar.jpg');
    background-size: contain;
}

.user-name {
    color: black;
}

.movie-title {
    font-size: large;
    font-weight: bold;
    color: blueviolet;
}

.review-text {
    margin-bottom: 12px;
    color: #333; /* Set the text color to black (adjust as needed) */
}

.review-actions {
    display: flex;
    color:black;
}

.like-button,
.dislike-button {
    font-size:25px;
    background: local;
    margin-right: 16px;
    cursor: pointer;
    border:none;
}
.like-button:hover,
.dislike-button:hover {
    font-size: 35px;  /* Increase font size on hover */
}

.like-button:hover {
    color: blueviolet;
}

.like-button.liked {
    color: blueviolet;
}


.dislike-button:hover {
    color: blueviolet;
}

.dislike-button.disliked {
    color: blueviolet;
}

.dlt-btn{
    color:red;
    border: none;
    font-size: 25;
    cursor: pointer;
    font-weight: bold;
    background: local;
}
.dlt-btn:hover{
    color:black;
    font-size: 35;
}

.date {
    position:relative;
    top: 10%;
    left: 50%;
    font-size: 12px;
    color: black;
}

@media (max-width: 768px) {
    .review-card {
        width: 85%; /* Occupy full width of viewport on smaller screens */
    }

    .user-avatar {
        width: 25px;
        height: 25px;
        margin-right: 8px;
    }

    .user-info {
        margin-bottom: 8px;
    }

    .like-button,
    .dislike-button,
    .dlt-btn {
        font-size: 20px; 
    }

    .date {
        font-size: 10px; 
        left:30%
    }
}