.recommender-bg {
    background: linear-gradient(to right, rgba(0, 0, 0, 0.52), rgba(0, 0, 0, 0.52)), url(../assets/images/recommender-background.jpeg)!important;
}
.recommend-container {
    width: 100%;
}
.rec-movie-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 2rem;
    margin-top:2rem;
}
.loading-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 170px;
}