.watch_statistics-container {
    width: max(40%, 350px);
    /* background-color: #1d385c; */
    color: #fff;
    min-height: 50vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding:50px;
    border-radius: 40px;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(4px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    z-index: 1000;
    margin: 0 auto;
    margin-top: 2rem;
    margin-bottom: 7rem;
    padding-inline: max(5%, 0.7rem);
}